* {
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 1100px;
}

.header {
  background-color: #bcaaa4;
  background-image: url("./header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: black;
  width: 70%;
  height: 280px;
}

.header-text {
  display: flex;
  border: solid #1a1919 0.3rem;
  background-color: #e9e7e7;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  font-weight: bold;
  color: #1a1919;
  box-shadow: 12px 12px 2px 1px rgba(83, 83, 87, 0.233);
}

.header-text > h1 {
  margin: 0;
  font-size: 1.2em;
}

.search {
  background-color: #ecf0f1;
  width: 30%;
  height: 280px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #ced6e0;
}

.form-container {
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  height: 80%;
  align-items: center;
}

.list {
  background-color: #bcaaa4;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 6px 23px;
}

.result-container {
  background-color: #ffe8cc;
}

.result-item-container {
  margin: 10px 10px;
  padding: 5px 8px;
  font-size: 15px;
  min-height: 150px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.result-item-container h3 {
  color: #3d3d3d;
  min-width: 280px;
  text-align: center;
  font-size: 1.2em;
}

.result-item-container h3:hover {
  cursor: pointer;
}

.result-info {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5px;
}

.map {
  width: 30%;
  height: 70vh;
}

.onmap {
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  min-width: 250px;
}

.scroll-top-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  background-color: rgb(133, 132, 132, 0.3);

  border-radius: 10px;
}

.map-scroll {
  width: 30%;
  height: 100vh;
  top: 0;
}
