* {
  box-sizing: border-box;
}
#root {
  width: 100%;
}
body {
  background-color: #f8f9fa;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  margin: 0;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li a {
  color: unset;
  text-decoration: none;
}
.parent {
  position: relative;  
}

header {
  display: flex;
  align-items: baseline;

  width: 100%;
  padding: .5rem .75rem;

  background-color: #bcaaa4;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("./header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  

  color: #F3F7F9; 
}
header h1 {
  font-size: 1.75rem;
}
header h2 {
  margin: 0 .5em;
  font-size: .75rem;
}

.search {
  max-width: 26rem;
  background-color:#FDFEFF;
  border: 1px solid #018F47;
  border-radius: 1rem;
  position: absolute;
  right: 0;
  margin: .5rem;
  z-index: 2;

}
.search form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  margin: .5rem;
  width: auto;
}

.makeStyles-formControla-1{
  width: 7rem;
}

.list {
  /* background-color: #bcaaa4;   */
  position: fixed;  
  width: 100%;
  height: auto;
  
  bottom: 0;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
  
}
.list h2 {
  text-align: center;
  color: #e9e7e7;
  display: none;
}
.list .container {
  display: flex;
  padding: .5rem;
}


.list .card {
  margin-right: .5rem; 
  min-width: 16rem;
  height: 9.5rem;  
}
.MuiPaper-root{
  height: 100%;
  padding: .5rem;
}
.list .title {
  font-size: 1rem;
  color: #3d3d3d;
  margin-bottom: .5rem;
  width: auto;
}

.list .title:hover {
  cursor: pointer;
}

.list .info {  
  font-size: 0.8em;  
}

.list .info li, .list .info li a {
  margin-bottom: .15rem;
  display: flex;
  align-items: center;
  font-size: .75rem;
}
.list .info li:last-child{
  margin: 0;
}
.list .feature {
  display: flex;
}
.list .feature > * {
  margin-right: .3rem;  
}
.list .feature div {
  display: flex;
  align-items: center;
}

.list .container svg {
  margin-right: .25rem;
  font-size: 1rem;
}

.map {
  height: 94vh;   
}

.onmap {
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  min-width: 250px;
}



@media (min-width: 768px){
.search{
  width: 25.5rem;
}
.list {
  width: 26rem;
  height: auto;
  right: 0;
  top: 9rem; 
}
.list .container {
  display: inline-block;
  width: 100%;
  padding: 0;
  height: 82vh;
  overflow-y: scroll;
}
.list .container::-webkit-scrollbar{
  display: none;
}
.list .card {
  height: 8rem;
  margin-bottom: .5rem;
}
.MuiPaper-root{
  background-color: rgba( 255, 255, 255, .85 );
}
}
